[mysqld]
server-id                      = 1
bind-address                   = mysql_master
binlog_do_db                   = repl_db
innodb_flush_log_at_trx_commit = 1
sync_binlog                    = 1
binlog-format                  = ROW
log_bin                        = /var/log/mysql/mysql-bin.log
log_bin_index                  = /var/log/mysql/mysql-bin.log.index
relay_log                      = /var/log/mysql/mysql-relay-bin
relay_log_index                = /var/log/mysql/mysql-relay-bin.index