[mysqld]
server-id                      = 1
datadir                        = /var/lib/mysql
pid_file                       = /var/run/mysql/mysql.pid
socket                         = /var/run/mysql/mysql.sock
log_bin                        = /var/log/mysql/mysql-bin.log
bind-address                   = mysql_master
binlog_do_db                   = repl_db
innodb_flush_log_at_trx_commit = 1
sync_binlog                    = 1
binlog-format                  = ROW
log-error                      = /var/lib/mysql/mysql.err
