[mysqld]
server-id                      = 100
bind-address                   = master_1
innodb_flush_log_at_trx_commit = 1
sync_binlog                    = 1
binlog-format                  = ROW
log_bin                        = /var/log/mysql/mysql-bin.log
log_bin_index                  = /var/log/mysql/mysql-bin.log.index
relay-log                      = /var/log/mysql/mysql-relay-bin
relay-log-index                = /var/log/mysql/mysql-relay-bin.index
relay-log-info-file            = /var/lib/mysql/mysql-relay-log.info
master-info-file               = /var/lib/mysql/mysql-master.info
log-error                      = /var/lib/mysql/mysql.err
auto-increment-offset          = 1
auto_increment_increment       = 2
log-slave-updates              = 1

skip-name-resolve

gtid_mode                      = ON
enforce-gtid-consistency
