[mysqld]
server-id            = 101
bind-address         = slave_1
log-error            = /var/lib/mysql/mysql.err
log-bin              = /var/lib/mysql/mysql-bin
relay-log            = /var/lib/mysql/mysql-relay-bin
relay-log-index      = /var/lib/mysql/mysql-relay-bin.index
relay-log-info-file  = /var/lib/mysql/mysql-relay-log.info
master-info-file     = /var/lib/mysql/mysql-master.info

skip-name-resolve
