[mysqld]
server-id           = 2
datadir             = /var/lib/mysql
pid_file            = /var/run/mysqld/mysql.pid
socket              = /var/run/mysqld/mysql.sock
relay-log           = /var/log/mysql/mysql-relay-bin
relay-log-index     = /var/log/mysql/mysql-relay-bin.index
log-error           = /var/log/mysql/mysql.err
master-info-file    = /var/log/mysql/mysql-master.info
relay-log-info-file = /var/log/mysql/mysql-relay-log.info
log-bin             = /var/log/mysql/mysql-bin
bind-address        = mysql_slave
binlog_do_db        = repl_db
